@media screen and (max-width:576px) {



    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /* navbar style starts */
    .nav-wrapper {
        width: auto;
        padding: 52px 20px;
    }

    .title {
        font-size: 36px;
    }

    .nav-wrapper>.icon {
        display: block;
    }

    .nav-wrapper>.nav-container {
        display: none;
    }

    /* navbar style ends */

    /* banner style starts */
    .banner {
        flex-direction: column;
        padding: 0 20px 0;
        width:auto;
    }

    .banner-content {
        width: 352px;
        margin-top: 0px;
    }

    .banner-title {
        width: 285px;
        font-size: 36px;
        font-weight: 900;
    }

    .banner-description {
        width: 274px;
    }


    .tag-container {
        width: 316px;
        margin-top: 47px;
    }

    .tags {
        left: 32px;
        top: 270.38px;
    }

    .banner-image-container {
        width: 349px;
        margin: 0 auto;
    }

    .tag-2 {
        width: 153px;
        height: 98px;
        padding-top: 12px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        position: absolute;
        left: 220.34px;
        top: 589.46px;
        text-align: center;
    }

    /* banner style ends */

    /* body design starts here */
    /* motivation design starts here */
    .motivation{
        width: auto;
    }
    .motivation-card-wrapper{
        flex-direction: column;
    }
    .motivation-card-container{
        width: 50%;
        margin: 0 auto;
        padding: 5px;
    }
    .motivation-card-container>.img-container{
        margin: 0 auto 5%;
        padding: 5px;
    }



    .nav-text{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
    }


    .button {
        display: flex;
        justify-content: space-around;
        gap: 7px;
        padding: 0%;
    }

    /* motivation design ends here */
    /* body design ends here */

.imgbg {
   
    
   width: 287px;
   height: 170px;
   border-radius: 18px;
   /* margin-left: 40px; */
     

}

.bg{
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    height: 531px;
   

    
  }

  .a1{
    font-size: 32px;
  }


  .btn3{

    text-align: center;
    width: 70%;
  }

  .imgbg{
    position: absolute;
    bottom: 90px;
  }


  .ct1{
    position: absolute;
    left: 25px;
    top:70px;
    
  }


  .motivation-description2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 300px;
    white-space: normal; 
  }


  .wrapper a {
    height: 40px;
    text-align: center;
    width: 250px;
    white-space: normal; 
    text-decoration: none;
    padding: 30px;
    background-color: #1aed13;
    border-radius: 12px;
    text-transform: uppercase;
    color: #150f0f;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    border: 5px solid rgb(12, 231, 231);
  }


    


  /* BMI calculator design starts */
  .bmi-info{
    width:auto;
    padding: 3%;
    text-align: left;
    margin-bottom: 5%;
 }

 .chart-container{
    padding: 3%;
 }

 .bmi-calculator {
    width:95%;
    flex-direction: column;
    margin-bottom: 20%;
}
.bmi-form{
    margin-top: 10%;
    width:100%;
}
.bmi-form-info{
    width:90%;
}
.input-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 13px 3px;
}

.activity {
    grid-column-start: 1;
    grid-column-end: 3;
  }
input{
    
}
 /* BMI calculator design ends */

 /* team design starts  */
 .team{
    width: auto;
 }
 .team-wrapper{
    display:flex;
    flex-direction: column;
    width: auto;
    margin: 5%;
    border-radius: 4%;
    padding: 2%;
 }
 .team-img{
    width: 100%;
 }


 .bmi-form {
   margin-top: 23%;
    width: 425px;
    background-color: rgb(34, 34, 34);

    
  }


  hr{

   width: 90%;
   margin: 40px auto;
    
  }

.team {
    margin-top: 100%;
    padding-bottom: 6%;
}



#n1{
    position: absolute;
    right: 20px; /* Adjust this value as needed */
    top: 70px;
    transform: translateY(-50%)  rotate(180deg);
   
    color: #aaa; /* Icon color */
  }
  
  
  
  #n2{
    position: absolute;
    right: 20px; /* Adjust this value as needed */
    top: 120px;
    transform: translateY(-50%)  rotate(180deg);
    color: #aaa; /* Icon color */
  }

 
 /* team design ends */
/* body design ends here */

/* footer design starts here  */
.footer-wrapper{
    width: auto;
}
.footer-container{
    flex-direction: column;
}
.fitness{
    width:auto;
    margin: 10%;
}
.started-container{
    flex-direction: column;
    width:auto;
    margin:10%;
}
/* footer design ends here */
}

