@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* common items  start*/
.primary-bg {
  background: linear-gradient(180deg, rgb(17, 17, 17), rgb(35, 35, 35) 100%);
}

.secondary-bg {
  height: 100%;
  background: rgb(21, 21, 21);
}

.third-color {
  background-color: rgb(230, 83, 60);
}

.button-color {
  color: rgb(230, 83, 60);
}

.width {
  width: 1060px;
  margin: 0 auto;
}

.font {
  font-family: "Inter";
}

.nav-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}

.banner-text {
  font-size: 16px;
}

.text-color {
  color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  border: none;
}

hr{


  border: none; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: rgba(255, 255, 255, 0.1); /* Set line color */
  margin: 20px 0; /* Add space around the line */
  
}

.motivation-title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 900;
}

.motivation-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.center {
  text-align: center;
}

/* common items  ends*/

.hide {
  display: none;
}

/* navbar style  starts*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}

.title {
  font-size: 36px;
  font-weight: 800;
}

.icon {
  width: 24px;
}

.icon img {
  width: 100%;
}

.nav-container {
  width: 44%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}

.nav-container > div {
  list-style: none;
}

.nav-container > div > li > a {
  text-decoration: none;
}

.nav-container > div {
  width: 20%;
  padding: 8px 20px;
  text-align: center;
  border-radius: 46px;
}

/* navbar style  ends*/

/* banner style starts here  */
.banner {
  display: flex;
  justify-content: space-between;
}

.banner-content {
  width: 520px;
  margin-top: 97px;
}

.banner-title {
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 28px;
}

.banner-title span {
  font-family: "Maima";
  font-weight: 400;
}

.banner-description {
  margin-bottom: 28px;
}

.btn-download {
  border-radius: 42px;
  background: none;
  padding: 16px 40px 16px 40px;
  border: 1px solid white;
}

.tag-container {
  width: 536px;
}

.tags {
  width: 206px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 20px 23px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  margin-top: 524px;
  position: absolute;
  bottom: 63px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 10px;
}

.tag-1-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 900;
}

.tag-1-description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  font-weight: 400;
}

.banner-image-container {
  width: 349px;
  margin-left: 160px;
  margin-top: 10px;
}

.banner-image-container > img {
  width: 349px;
  height: 580px;
}

.tag-2 {
  width: 193px;
  height: 98px;
  padding-top: 17px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  left: 1115px;
  top: 220px;
  text-align: center;
}

.tag-2-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}

.tag-2-description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
}

/* banner style ends here */

/* body design starts here */

/* motivation design starts here */
.motivation-info {
  width: 50%;
  margin: 0 auto;
  padding: 9% 0 4% 0;
}
.motivation-card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.motivation-card-container {
  width: 75%;
  padding: 0 3% 0 3%;
}

.motivation-card-container > .img-container {
  width: 100%;
  margin-bottom: 3%;
}

.motivation-card-container .img-container img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgb(35, 35, 35);
}

.motivation-card-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

/* motivation design ends here */
/* body design ends here */

.bg {


    height: 371px;
    width: 75%;
    /* border: 2px solid rgb(178, 70, 70); */
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
      padding: 30px;
      
      margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.imgbg {

    background-image: url("../images/run.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 366px;
   height: 312px;
   border-radius: 18px;
   margin-left: 40px;
   
     

}


.ct1{
    width: 443px;
   height: 289px;
}

.ct2{
    margin-top: 20px;
    
}

.motivation1{
    margin-bottom: 150px;
}


.motivation-description2 {
    color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  }






  /* If you like  */
.wrapper {
  height: 400px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black;
 
 
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #1aed13;
  border-radius: 3px;
  text-transform: uppercase;
  color: #150f0f;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  padding: 20px;
  border: 5px solid rgb(12, 231, 231);
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(16, 16, 16, 0.7);
  /* transition: all .6s; */
  transition: ease-in-out .8s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #458655;
  padding: 3em 4em;
}

.modal__footer {
  text-align: right;
  a {
    color: #000000;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #10dfff;
  text-decoration: none;
  font-size: 54px; 
}





/* information design ends here */
/* training design starts here */
.training-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 218px;
  gap: 5px;
  margin-bottom: 5px;
}

.training-card-container2 {
  display: grid;
  grid-template-columns: 1.75fr 1.5fr 1.75fr;
  grid-template-rows: 218px;
  gap: 5px;
  margin-bottom: 78px;
}

.img-1>img,
.img-2>img,
.img-3>img,
.img-4>img,
.img-5>img,
.img-6>img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* trainig design ends here */

/* BMI design starts here */
.bmi-info {
  margin-bottom: 88px;
}

/* BMI design ends here */

/* BMI calculator design starts here */
.chart-container {
  margin-top: 55px;
}

.bmi-calculator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
  height: 500px;
}

.chart {
  display: flex;
  margin: 42px auto 0;
}

.bmi-table>p {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 30px 16px 30px;
}

.bmi-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 12px;
}

.bold {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* BMI calculator design ends here */

/* bmi form starts here */

.bmi-form {
  margin-top: 55px;
  width: 577px;
}

.input-container {
  margin: 34px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  position: relative;
}

.activity {
  grid-column: 2 span;
}

#n1{
  position: absolute;
  right: 20px; /* Adjust this value as needed */
  top: 70px;
  transform: translateY(-50%)  rotate(180deg);
 
  color: #aaa; /* Icon color */
}



#n2{
  position: absolute;
  right: 20px; /* Adjust this value as needed */
  top: 120px;
  transform: translateY(-50%)  rotate(180deg);
  color: #aaa; /* Icon color */
}

input {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

/* bmi form ends here */
/* BMI design ends here */

/* team design starts here  */
.team {
  padding-bottom: 6%;
}

.team-wrapper {
  margin-top: 3%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.1);
  grid-template-rows: 300px;
  border-radius: 3%;
}

.team-img {
  width: 100%;
  margin: 0 auto;
  position: relative;

  padding-top: 7%;
  padding-left: 5%;
}

.team-img>img {
  width: 90%;
  height: 90%;
  border-radius: 18px;
}

.trainer-info {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 1;
}

.trainer-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
}

/* team design ends here */
/* body design ends here */

/* footer design starts here */
.footer-wrapper{
  padding-top: 6%;
  padding-bottom: 5%;
}
.footer-container {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.fitness {
  width: 40%;
}

.footer-title {
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
}
.started-container{
  display:flex;
  justify-content: space-between;
  width:40%;
}
.get-started {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}

.started1>ul>li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
  list-style: none;
  margin: 10% 0 10% 0;
}
.started2>ul>li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
  list-style: none;
  margin: 10% 0 10% 0;
}

/* footer design ends here */






  
